@use "./styles/shared";

.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: shared.$root-color;
}

.logo {
  height: 10vmin;
  pointer-events: none;
  color: shared.$primary-color;
  filter: invert(0.8);
  margin-top: 80px;

  @media screen and (max-width: shared.$max-mobile-width) {
    margin-top: 50px;
    height: 15vmin;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  min-height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: shared.$primary-color;

  ul {
    list-style: none;
    padding: 0px;

    li {
      display: inline-block;
      margin: 10px;
    }
  }

  @media screen and (max-width: shared.$max-mobile-width) {
    font-size: 1.2rem;
  }
}

.link {
  color: shared.$primary-color;
  cursor: pointer;
}

.main {
  min-height: 90hv;
  color: shared.$primary-color;
  padding: 1rem;
}
